<html>
    <head>
        <link rel="stylesheet" href="../static/style.css" />
        <script src="../static/trigger.js" type="text/javascript"></script>
    </head>
    <body>
        <input id="game_number" />
        <button id="register" onclick="register_game()">register_game</button>
        <p id="player_number"></p>
        <p id="identity"></p>
        <p id="road"></p>
        <p id="hero"></p>

        <p id="people_in_game"></p>

        <!-- show all player status -->
        <button id="draw" onclick="draw()">draw</button>
        <!-- <button id="show" onclick="show()">show</button> -->

        <div class="all_players" id="player0">
            <!-- <p class="all_player_number"></p> -->
            <p class="all_road"></p>
            <p class="all_hero"></p>
        </div>
        <div class="all_players" id="player1">
            <!-- <p class="all_player_number"></p> -->
            <p class="all_road"></p>
            <p class="all_hero"></p>
        </div>
        <div class="all_players" id="player2">
            <!-- <p class="all_player_number"></p> -->
            <p class="all_road"></p>
            <p class="all_hero"></p>
        </div>
        <div class="all_players" id="player3">
            <!-- <p class="all_player_number"></p> -->
            <p class="all_road"></p>
            <p class="all_hero"></p>
        </div>
        <div class="all_players" id="player4">
            <!-- <p class="all_player_number"></p> -->
            <p class="all_road"></p>
            <p class="all_hero"></p>
        </div>
    </body>
</html>
